# This is a .gitignore file that can be used for both Unity projects and Unity packages
# For Unity projects: Place this file at the root of your Unity project directory.
# For Unity packages: Place this file at the root of your package directory.

##########################
### For Unity packages ###
##########################
# If you are using mklink /J Samples Samples~ , this will make sure to ignore the Samples link
# The following lines ignore the Samples folder (without ~ sign) - and its meta file - as it is only used as a link to Samples~
# Note: If your Unity project for some reason contains a Samples folder in the root, then it will be ignored
/Samples/
Samples.meta

##########################
### For Unity packages ###
##########################
# If you are developing a package template, then you must ignore all meta files
# This is only needed if this repository is meant to be a template
# Students: Leave this commented out (don't ignore all .meta files)
# *.meta

##########################
### For Unity projects ###
##########################
# The remainder of this file applies to Unity projects

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
/[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Rider
.idea/

# Visual Studio cache directory
.vs/

# Visual Studio Code settings directory and config
.vscode/
.vsconfig

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties
*.orig
*.orig.meta

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
